    <div v-if="inputInfo.isEdit === false" class="card" :class="className">
        <div class="header">
            <h2 class="title">{{inputInfo.title}}</h2>
            <div class="actions">
                <span @click="deleteCard" class="delete"></span>
                <span @click="changeEditStatus" class="edit"></span>
            </div>
        </div>

        <div class="desc">
            {{inputInfo.desc}}
        </div>

        <div class="time">
            <span class="from">{{parseDateFromTimestamp(inputInfo.dates.creation)}}</span>
            <span class="arrow"></span>
            <span class="to">{{inputInfo.dates.deadline === null? 'DEADLINE': parseDateFromTimestamp(inputInfo.dates.deadline)}}</span>
        </div>

        <div v-show="inputInfo.amountEdit > 1" class="info">
            <span>Изменено: {{parseDateFromTimestamp(inputInfo.dates.edit)}}</span>
        </div>
    </div>

    <card-edit
            v-else-if="inputInfo.isEdit === true"
            :initial-values="inputInfo"
            :class-name="className"
            :column-unique="columnUnique"
            :formatted-deadline="parseDateFromTimestamp(inputInfo.dates.deadline)"
            :formatted-creation="parseDateFromTimestamp(inputInfo.dates.creation)"
    ></card-edit>