<div class="card" :class="className" :class="{">
    <template v-if="isEdit === false">
        <div class="header">
            <h2 class="title">{{inputInfo.title}}</h2>
            <div class="actions">
                <span class="delete"></span>
                <span @click="changeEditStatus" class="edit"></span>
            </div>
        </div>

        <div class="desc">
            {{inputInfo.desc}}
        </div>

        <div class="time">
            <span class="from">{{inputInfo.dates.creation}}</span>
            <span class="arrow"></span>
            <span class="to">{{inputInfo.dates.deadline}}</span>
        </div>
    </template>

    <card-edit
            v-else-if="isEdit === true"
            :initialValues="inputInfo"
    ></card-edit>
</div>