<div class="card edit" :class="className">
    <div class="header">
      <input class="input title" type="text" v-model="title">
      <div class="actions">
        <span class="apply" @click="save"></span>
        <span class="cancel" @click="cancel"></span>
      </div>
    </div>

    <div class="desc">
      <textarea class="input" :rows="rows" v-model="desc"></textarea>
    </div>

    <div class="time">
        <span class="from">{{initialValues.dates.creation}}</span>
        <span class="arrow"></span>
        <span class="to">
            <input
                    class="input"
                    :class="{error: errors.deadline !== undefined}"
                    type="text" placeholder="DD.MM.YYYY"
                    @keyup.enter="save"
                    v-model="deadline"
            >
            <div v-show="errors.deadline !== undefined" class="error">{{errors.deadline}}</div>
        </span>
    </div>
</div>